# Virtual environment
venv/
.venv/
env/

# App local data
btcz_data/

# CLI version (not shared)
how_btcz.py

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual env leftovers
pip-log.txt
pip-delete-this-directory.txt

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Build / packaging
build/
dist/
*.spec
*.egg-info/